<!-- forgot_password.html -->
{% extends 'basic.html' %}
{% block title %}Forgot
{% endblock title %}
{% block body %}
<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xlg-12 col-sm-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}